{% extends "base.html" %}

{% block title %}Flasky - Profile{% endblock %}
{% block page_content %}
    <div class="media">
        <div class="media-left">
        {% if user.avatar_name %}
            <img class="img-rounded profile-thumbnail"
                 src="{{ url_for('main.static',filename='x300/{}'.format(user.avatar_name)) }}">
        {% else %}
            <img class="img-rounded profile-thumbnail"
                 src={{ url_for('main.static',filename='x300/default.jpg') }}>
        {% endif %}
        </div>
        <div class="media-body">
            <h1>{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}{% endif %}
                    {% if user.location %}
                        From <a href="http://maps.google.com/?q={{ user.location }}">
                            {{ user.location }}
                        </a>
                    {% endif %}
                </p>
            {% endif %}
            {% if current_user.is_administrator() %}
            <p>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}
                Last seen {{ moment(user.last_seen).fromNow() }}
            </p>
            <p>
                {% if user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">
                        Edit Profile
                    </a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', ids=user.id) }}">Edit Profile [Admin]</a>
                {% endif %}
            </p>
            <p>
                {% if current_user.can(Permission.FOLLOW) and current_user != user %}
                    {% if not current_user.is_following(user) %}
                        <a class="btn btn-primary" href="{{ url_for('main.follow',username=user.username) }}">
                            Follow
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ url_for('main.unfollow',username=user.username) }}">
                            UnFollow
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('main.followers',username=user.username) }}">
                    beiguanzhu:
                </a>
                <span class="badge">{{ user.follower.count() }}</span>


                <a href="{{ url_for('main.followed_by',username=user.username) }}">
                    guanzhu:
                </a>
                <span class="badge">{{ user.followed.count() }}</span>
                {% if current_user.is_authenticated and current_user != user and user.is_following(current_user) %}
                    |<span class="label lable-default">关注了你</span>
                {% endif %}
            </p>
        </div>
    </div>
    <h3>Posts by {{ user.username }}</h3>
    {% include '_posts.html' %}
{% endblock %}