{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Flasky - Login{% endblock %}
{% block page_content %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>Login</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>
            Forget Your PassWord?
            <dl>
            <a href="{{ url_for('auth.reset_password') }}">
                Click here to reset password
            </a>
            </dl>
        </p>
        <p>
            New User?
            <dl>
                <a href="{{ url_for('auth.register') }}">
                    click here to register
                </a>
            </dl>
        </p>
    </div>
{% endblock %}